
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mycontent{
  width: 1000px;
  margin: 20px auto;
  display: flex;
}

.item-cate {
  width: 200px;
  margin-left: 50px;
}

.item-cate ul {
  margin: 0;
  padding: 0;
}

.item-cate ul li {
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  list-style: none;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid;
}

.item-cate ul li:hover {
  background-color: greenyellow;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  color: black;
}

.mytable {
  margin-left: 30px;
  width: 500px;
  border: 1px solid;
}

.mytable tr th, .mytable tr td {
  border: 2px solid;
}

.mytable tr td {
  width: 70%;
  text-align: center;
}
.ex1{
  margin-top: 20px;
}
